<div class="container mt-3">
    <app-count-employees [everyone]="getTotalEmployees()" [female]="getTotalFemale()" [male]="getTotalMale()"
        (countRadioButtonChange)="employeeCountRadioButtonChange($event)">
    </app-count-employees>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Sex</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let employee of employeeList">
                        <tr *ngIf="radioButtonSelected =='Everyone' || radioButtonSelected ==employee.sex">
                            <th>{{employee.id}}</th>
                            <td>{{employee.firstName}}</td>
                            <td>{{employee.lastName}}</td>
                            <td>{{employee.sex}}</td>
                            <td>{{employee.salary | currency}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>